{% load django_bootstrap5 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% block style %}
    {% endblock style %}

</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-3" id="navbar">
        
        <ul class="navbar-nav d-flex flex-row align-items-center w-100">
            {% block navbar_content %}
            <li class="nav-item ms-auto">
                <form id="logoutForm">
                    <label>Пользователь:</label>
                    <label id="usernameLabel">Не авторизован</label>
                    <button type="submit" >Выйти</button>    
                </form>
            </li>
            {% endblock navbar_content %} 
        </ul>        
    </nav>

    <div id="messages"> 
    </div>

    <div class="px-3">
        {% block content %}{% endblock content %} 
    </div>   
    <script>
        const clear_massages = () => {
            const elemMessages = document.getElementById("messages")
            elemMessages.innerHTML = `

            `

        }
        const allert_message = (text) => {
            const elemMessages = document.getElementById("messages")
            elemMessages.innerHTML = `
            <div class="alert alert-danger" role="alert">
                <div id="messageText"><div>
            </div>
            `

            elemMessages.querySelector("#messageText").textContent = text

        }




    </script> 
    <script src="/frontend/static/js/api/fetch-data.js"></script>
    {% block script %}{% endblock script %} 
    <script>

        const loadUserInfo = async () => {
            const tokenAuth = localStorage.getItem("tokenAuth")
            const listEnterprises = document.getElementById("listEnterprises")
            const usernameLabel = document.getElementById("usernameLabel")

            const data = await fetch_data("/api/v1/auth/users/me/")

            usernameLabel.innerText = data.username
        } 

        window.onload = async () => {
            const tokenAuth = localStorage.getItem("tokenAuth")
            if (tokenAuth === null && window.location.pathname !== "/login/") {
                const curent_href = window.location.href;
                console.log(window.location.pathname)
                window.location = `${window.location.origin}/login/?next=${curent_href}`
            };

            if (window.location.pathname !== "/login/") {
                await loadUserInfo()
            }
          
            
            await initPage() //Определено в дочерних шаблонах
        }

        logoutForm.onsubmit = (e) => {
            e.preventDefault()
            localStorage.removeItem("tokenAuth")
            location.reload()
        } 

    </script>
</body>
</html>

<style>
    #navbar {
        min-height: 44px;
    }
    
</style>

