{% extends "base/base.html" %}



{% block content %}
<form class="d-flex justify-content-center">
    <div class="auth-box mb-3">
        <div id="form_fields">
        </div>
        <div class="d-flex justify-content-end gap-1">
            {% if action != "view"%}
            <button type="button" class="btn btn-primary" data-action="save">Сохранить</button>
            {% endif %}
            {% if action == "edit"%}
            <button type="button" class="btn btn-danger" data-action="delete">Удалить</button>
            {% endif %}
        </div>
    </div>
</form>

<div id="pageData" {% if entity %} data-pk-entity="{{entity.pk}}" {% endif %} data-action="{{action}}">

</div>

{% endblock content %}

{% block script %}

{% load static %}
<script type="module" src="{% static 'js/pages/entity.js' %}"></script>

{% endblock script %}


{% block style %}
<style>
    .auth-box {
        width: 100%;
        max-width: 1200px;
    }
</style>
{% endblock style %}


{% block navbar_content %}
<li class="nav-item">
    <a href="{% url 'enterprises' %}" class="btn btn-secondary btn-lg rounded-1 btn-light border">
        Предприятия
    </a>
</li>


{{ block.super }}

{% endblock navbar_content %}