{% extends "base/base.html" %}

{% block title %}Предприятия менеджера{% endblock title %}

{% block content %}

<h5>Предприятия:</h5>
<ul id="listEnterprises">
</ul>

{% endblock content %}

{% block script %}
<script type="module">
    import { fetchDataJSON } from "/frontend/static/js/api/fetch-data.js" 
    const loadEnterprises = async () => {
        
        const listEnterprises = document.getElementById("listEnterprises")

        const data = await fetchDataJSON("/api/v1/enterprises/")

        listEnterprises.innerHTML = data.results.map(enterprise => `<li><a <a href="${enterprise.id}/edit/"> ${enterprise.name}</a> <a href="${enterprise.id}/vehicles/">Авто</a></li> <a href="${enterprise.id}/export/trips/"> Скачать поездки </a></li>`).join("\n")

    }


    window.initPage = async () => {
        loadEnterprises();
    }

</script>
{% endblock script %}