{% extends "base.html" %}

{% block title %}Предприятия менеджера{% endblock title %}

{% block content %}
<form id="logoutForm">
    <label>Пользователь:</label>
    <label id="usernameLabel">Не авторизован</label>

    <button type="submit" >Выйти</button>    
</form>
    <li>Предприятие 1</li>
    <li>Предприятие 2</li>
</ul>
{% endblock content %}

{% block script %}
<script>
    window.onload = () =>
    {
        const tokenAuth = localStorage.getItem("tokenAuth")
        if (tokenAuth === null) {
            const curent_href = window.location.href;
            window.location = `${window.location.origin}/login/?next=${curent_href}`
        };

    logoutForm.onsubmit = (e) =>
    {
        e.preventDefault()
        localStorage.removeItem("tokenAuth")
        location.reload()
    }  
    
</script>    
{% endblock script %}





