{% extends "base/entity.html" %}

{% block script %}
<script>
    const form = {
            entity: "/api/v1/enterprises/",
            fields: [
                {
                    source_name: "name",
                    empty_value: undefined,
                    label: "Наименование:",
                    type: "text_field",
                },
                {
                    source_name: "city",
                    empty_value: undefined,
                    label: "Город:",
                    type: "text_field",
                },
            ]
        }
</script>

{{ block.super }}

{% endblock script %}