{% extends "base.html" %}

{% block title %}Авторизация{% endblock title %}

{% block content %}

<form class="d-flex justify-content-center" id="authForm">
    <div>
        <h1 class="text-center">Авторизуйтесь</h1>
        <div class="mb-3">
            <label for="inputUser" class="form-label">Пользователь:</label>
            <input type="text" class="form-control" id="inputUser">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Пароль:</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>  
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>
</form>

{% endblock content %}


{% block script %}
<script>
    authForm.onsubmit = async (event) => {
        event.preventDefault()
 
        const userName = inputUser.value
        const password = inputPassword.value

        const response = await fetch("/api/v1/auth/token/login/", {
            method: "POST",
            headers: { "Accept": "application/json", "Content-Type": "application/json" },
            body: JSON.stringify({
                username: userName,
                password: password})
            })

        const data = await response.json()

        localStorage.setItem("tokenAuth", data.auth_token)        

        window.location = window.location.origin

    };


</script>

{% endblock script %} 

