{% extends "base.html" %}

{% block title %}Авторизация{% endblock title %}

{% block content %}

<form class="d-flex justify-content-center" id="authForm">
    <div class="auth-box mb-3">
        <h1 class="text-center">Авторизуйтесь</h1>
        <div class="mb-3">
            <label for="inputUser" class="form-label">Пользователь:</label>
            <input type="text" class="form-control" id="inputUser">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Пароль:</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>  
        <div class="alert alert-danger d-none" role="alert" id="allertMessage" >
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>
</form>

{% endblock content %}


{% block script %}
<script>
    const authForm = document.getElementById("authForm")
    const allertMessage = document.getElementById("allertMessage")
    authForm.onsubmit = async (event) => {
        event.preventDefault()
 
        const userName = inputUser.value
        const password = inputPassword.value

        const response = await fetch("/api/v1/auth/token/login/", {
            method: "POST",
            headers: { "Accept": "application/json", "Content-Type": "application/json" },
            body: JSON.stringify({
                username: userName,
                password: password})
            })

        const data = await response.json()

        if (response.status !== 200) {
            allertMessage.innerHTML = ""
            allertMessage.innerHTML = data.non_field_errors[0] 
            allertMessage.classList.remove("d-none")
            return
        }   
        if (!allertMessage.classList.contains("d-none"))  {
            allertMessage.classList.add("d-none")
        }      
        

        

        localStorage.setItem("tokenAuth", data.auth_token)        

        window.location = window.location.origin

    };

    const initPage = async () => {

    }

</script>
{% endblock script %} 


{% block style %}
<style>
    .auth-box {
        width: 420px;
    }
</style>
{% endblock style %}


