{% extends "base/base.html" %}

{% block title %}Отчет{% endblock title %}

{% block content %}
<h1 class="text-center">Отчет {{report_name}}:</h1>

<form class="d-flex justify-content-center">
    <div class="auth-box mb-3">
        <div id="form_fields">
        </div>
    </div>
</form>

<div id="pageData" {% if entity %} data-report-name="{{report_name}}" {% endif %}></div>

{% endblock content %}

{% load static %}



{% block script %}

<script type="module" src="{% static 'js/pages/report.js' %}"></script>

{{ block.super }}

{% endblock script %}