{% extends "base.html" %}

{% block title %}Редактирование авто{% endblock title %}

{% block content %}

<form class="d-flex justify-content-center">
    <div class="auth-box mb-3">
        <h1 class="text-center">Автомобиль: {% if  action == "new"%}(+){% endif %}</h1>
        <div id="form_fields">
        </div>
        <div class="d-flex justify-content-end gap-1">
            <button type="button" class="btn btn-primary" data-action="save">Сохранить</button>
            <button type="button" class="btn btn-danger" data-action="delete">Удалить</button>
        </div>
    </div>
</form>

<div id="pageData" 
    {% if vehicle %}
    data-pk-vehicle="{{vehicle.pk}}"
    {% endif %} 

    data-action="{{action}}" >

</div>

{% endblock content %}


{% block script %}
<script>
    const authForm = document.getElementById("authForm")

    // authForm.onsubmit = async (event) => {
    // };

    const renderInputField = (id, value, label) => {
        value ||= ""
        return `
            <div class="mb-3">
                <label for="${id}" class="form-label">${label}</label>
                <input type="text" class="form-control" id="${id}" value="${value}">
            </div> 
        `
    }

    const renderSelectedField = (id, form_data, selected_data, label, isSelect, representation, placeholder) => {

        options = selected_data.map(option_data => `
            <option value="${option_data.id}" ${isSelect(form_data, option_data) ? "selected" : ""}>${representation(option_data)}</option>
        `).join("")

        hasSelectedOption = selected_data.some(option_data => isSelect(form_data, option_data))

        return `
            <div class="mb-3">
                <label for="${id}" class="form-label">${label}</label>
                <select class="form-select" id="${id}">
                    <option value="" ${hasSelectedOption ? "" : "selected"} disabled>${placeholder}</option>
                    ${options}
                </select>
            </div>
        `
    }

    const renderMultySelectedDriverField = (form_drivers_data) => {
        console.log(form_drivers_data)
        const lis = form_drivers_data.map(record => `
                <li class="list-group-item d-flex justify-content-between align-items-center js-removed-item">
                    <span>${record.last_name} ${record.first_name}</span>
                    <button type="button" class="btn btn-sm btn-outline-danger js-btn-remove-item">×</button>
                </li>
        `).join("")

        

        return `
            <div class="mb-3">
                <label for="inputDrivers" class="form-label">Водители:</label>
                <ul class="list-group" id="inputDrivers">
                ${lis}
                </ul>
            </div>             
        `
    }

    const getAction = () => {
        return document.getElementById("pageData").dataset.action
    }

    const getPk = () => {
        return document.getElementById("pageData").dataset.pkVehicle
    }   

    const emptyEntity = () => {
        return {
                id: undefined,
                "model_id": undefined,
                "color": undefined,
                "number": undefined,
                "vin": undefined,
                "year_of_manufacture": undefined,
                "mileage": undefined,
                "price": undefined,
                "active_driver_id": undefined,
                "model__name": undefined,
                "enterprise_id": undefined,
                "driver_ids": []
            }
    }

    const getData = async () => {
        console.log(getAction())
        return {
            entity: getAction() === "new" ?  emptyEntity() : await fetch_data(`/api/v1/vehicles/${getPk()}/`),
            brands:  (await fetch_data(`/api/v1/models/`)).results,
            enterprises: (await fetch_data(`/api/v1/enterprises/`)).results  
        }
    }

    const renderForm = async () => {               

        const data = await getData()
        console.log(data)

        const form_fields = document.getElementById("form_fields") 

        form_fields.innerHTML += renderSelectedField("inputEnterprise", data.entity, data.enterprises, "Предприятие:",
            (form_data, selected_record) => form_data.enterprise_id === selected_record.id,
            (selected_record) => `${selected_record.name} (${selected_record.city})`, "Выберите предприятие")

        form_fields.innerHTML += renderSelectedField("inputBrand", data.entity, data.brands, "Бренд:",
            (form_data, selected_record) => form_data.model_id === selected_record.id,
            (selected_record) => `${selected_record.name} (${selected_record.color})`, "Выберите бренд")
            

        form_fields.innerHTML += renderInputField("inputNumber", data.entity.number, "Номер")
        form_fields.innerHTML += renderInputField("inputMileage", data.entity.mileage, "Пробег (км):")
        form_fields.innerHTML += renderInputField("inputPrice", data.entity.price, "Цена (руб):")
        form_fields.innerHTML += renderInputField("inputVin", data.entity.vin, "VIN:")
        form_fields.innerHTML += renderInputField("inputYear", data.entity.year_of_manufacture, "Год выпуска:")


        // form_drivers_data = (await fetch_data(`/api/v1/drivers/?id__in=${form_data.driver_ids.join(",")}&ordering=last_name,first_name`)).results //Водителей пока не рредактирую
        // form_fields.innerHTML += renderMultySelectedDriverField(form_drivers_data)
    }

    const initPage = async () => {
        renderForm()

    }

    const deleteEntity = async () => {
        const pkVehicle = document.getElementById("pageData").dataset.pkVehicle
        const result = await fetch_data(`/api/v1/vehicles/${pkVehicle}/`,method="DELETE")
        console.log(result)
    }

    const saveEntity = async () => {
        const pkVehicle = document.getElementById("pageData").dataset.pkVehicle

        const body = JSON.stringify({      
                enterprise: document.getElementById("inputEnterprise").value,            
                model: document.getElementById("inputBrand").value,
                number: document.getElementById("inputNumber").value,
                vin: document.getElementById("inputVin").value,
                year_of_manufacture: document.getElementById("inputYear").value,
                mileage: document.getElementById("inputMileage").value,
                price: document.getElementById("inputPrice").value,
            })
        const result = await fetch_data(`/api/v1/vehicles/${pkVehicle}/`,"PUT", body)
        console.log(result)


    }


    document.addEventListener("click", (event) => {
        const target = event.target
        if(target.classList.contains("js-btn-remove-item")){
            const item = target.closest(".js-removed-item");
            item.remove()
            return
        }

        if(!target.hasAttribute("data-action")){
            return
        }

        const action = target.dataset.action

        if(action==="delete") {
            deleteEntity()            
            return
        }

        if(action==="save") {
            saveEntity()            
            return
        }


    })

</script>
{% endblock script %}


{% block style %}
<style>
    .auth-box {
        width: 420px;
    }
</style>
{% endblock style %}