{% extends "base.html" %}

{% block title %}Авто по предприятию {{enterprise.name}}{% endblock title %}

{% block content %}

<h5>Автомобили по предприятию {{enterprise.name}}</h5>


<table class="table table-striped" id="tvehicles">
    <thead> 
    </thead>
    <tbody id="tbodyVehicles">
    </tbody>
</table>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item active"><a class="page-link" href="#">3</a></li>
        <li class="page-item disabled"><span class="page-link">…</span></li>           
        <li class="page-item"><a class="page-link" >3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>

<div id="pageData" data-enterprise-pk="{{enterprise.pk}}"></div>
{% endblock content %}

{% block script %}
<script>
    const renderTable = async (data) => {
        const elemTable = document.getElementById("tvehicles")
        const elemHead = elemTable.querySelector("thead")
        const elemBody = elemTable.querySelector("tbody")

        elemHead.innerHTML = `
        <tr>
            <th scope="col">Брэнд</th>
            <th scope="col">Год</th>
            <th scope="col">Цвет</th>
            <th scope="col">Цена</th>
            <th scope="col">Номер</th>
            <th scope="col">VIN</th>
            <th scope="col"></th>
        </tr>
        `

        elemBody.innerHTML = data.map(record => `
        <tr>
            <td>${record.model__name}</td>
            <td>${record.year_of_manufacture}</td>
            <td>${record.color}</td>
            <td>${record.price}</td>
            <td>${record.number}</td>
            <td>${record.vin}</td>
            <td><a href="/vehicles/${record.id}/edit/">Редактировать<a></td>
        </tr> 
        `).join("")
    }


    const loadVehicles = async () => {
        const tokenAuth = localStorage.getItem("tokenAuth")
        const elemTbodyVehicles = document.getElementById("tbodyVehicles")
        const pkEnterprise = document.getElementById("pageData").dataset.enterprisePk

        console.log(pkEnterprise)
        const response = await fetch(`/api/v1/enterprises/${pkEnterprise}/vehicles/`, {
            method: "GET",
            headers: { "Accept": "application/json", "Content-Type": "application/json", "Authorization": `Token ${tokenAuth}` }
        })


        const data = await response.json()
        await renderTable(data.results)

    }


    const initPage = async () => {
        loadVehicles();
    }

</script>
{% endblock script %}

{{enterprise}}