{% extends "base.html" %}

{% block title %}Редактирование авто{% endblock title %}

{% block content %}

<form class="d-flex justify-content-center">
    <div class="auth-box mb-3">
        <h1 class="text-center">Автомобиль:</h1>
        <div id="form_fields">
        </div>
        <div class="d-flex justify-content-end gap-1" >
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="submit" class="btn btn-danger">Удалить</button>
        </div>
    </div>
</form>

<div id="pageData" data-pk-vehicle="{{vehicle.pk}}"></div>

{% endblock content %}


{% block script %}
<script>
    const authForm = document.getElementById("authForm")

    // authForm.onsubmit = async (event) => {
    // };

    const renderInputField = (id,value,label) => {
        return `
            <div class="mb-3">
                <label for="${id}" class="form-label">${label}</label>
                <input type="text" class="form-control" id="${id}" value="${value}">
            </div> 
        `
    }

    const renderSelectBrandField = (form_data, brands_data) => {
        options = brands_data.map(brand => `
            <option value="${brand.id}" ${brand.id === form_data.model_id ? "selected" : ""}>${brand.name} (${brand.color})</option>
        `).join("")

        return `
            <div class="mb-3">
                <label for="inputUser" class="form-label">Бренд:</label>
                <select class="form-select" id="inputBrand">
                    <option value="" disabled>Выберите бренд</option>
                    ${options}
                </select>
            </div>
        `
    }

    const renderForm = async () => {
        const form_fields = document.getElementById("form_fields")
        const pkVehicle = document.getElementById("pageData").dataset.pkVehicle


        form_data = await fetch_data(`/api/v1/vehicles/${pkVehicle}/`)
        brands_data = (await fetch_data(`/api/v1/models/`)).results

        form_fields.innerHTML += renderSelectBrandField(form_data,brands_data)

        form_fields.innerHTML += renderInputField("inputNumber",form_data.number,"Номер")
        form_fields.innerHTML += renderInputField("inputMileage",form_data.mileage,"Пробег (км):")
        form_fields.innerHTML += renderInputField("inputPrice",form_data.price,"Цена (руб):")
        form_fields.innerHTML += renderInputField("inputVin",form_data.vin,"VIN:")
        form_fields.innerHTML += renderInputField("inputYear",form_data.year_of_manufacture,"Год выпуска:")

        console.log(form_data)    
        
    }

    const initPage = async () => {
        renderForm()

    }

</script>
{% endblock script %} 


{% block style %}
<style>
    .auth-box {
        width: 420px;
    }
</style>
{% endblock style %}

