{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div id="react-root"></div>

<script type="module">
  import RefreshRuntime from "http://172.27.79.57:5173/@react-refresh"
  RefreshRuntime.injectIntoGlobalHook(window)
  window.$RefreshReg$ = () => {}
  window.$RefreshSig$ = () => (type) => type
  window.__vite_plugin_react_preamble_installed__ = true
</script>

<script type="module" src="http://172.27.79.57:5173/@vite/client"></script>
<script type="module" src="http://172.27.79.57:5173/react_src/index.jsx"></script>